html {
  background-color: rgb(244, 244, 234);
}

.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, green, yellow);
  padding: 30px;
  color: rgb(30, 27, 27);
  border: solid black;
}

.NavContainer img {
  width: 60px;
  border:hidden
}

.links-container {
  display: flex;
  align-items: center;
}

a {
  color: rgb(25, 22, 22);
  text-decoration: none;
  margin-left: 30px;
  font-weight: bolder;
  font-size: 1.5rem;
}

a:hover {
  font-size: 1.7rem;
}

img {
  width: 150px;
}

.cart-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  flex-direction: column;
}