html {
  background-color: rgb(244, 244, 234);
}

.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #484747;
  padding: 30px;
  color: white;
}

.NavContainer img {
  width: 60px;
  border:hidden
}

.links-container {
  display: flex;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.5rem;
}

img {
  width: 150px;
}

button {
  display: block;
  width: 30%;
  height: 10%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  margin: auto;
}