html {
  background-color: rgb(244, 244, 234);
}

.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(160, 132, 132);
  padding: 30px;
  color: rgb(30, 27, 27);
}

.NavContainer img {
  width: 60px;
  border:hidden
}

.links-container {
  display: flex;
  align-items: center;
}

a {
  color: rgb(25, 22, 22);
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.5rem;
}

a:hover {
  font-size: 1.7rem;
}

img {
  width: 150px;
}
