div.productConteiner {
  padding: 5em;
}

ul {
  display: flex;
  gap: 1.5em;
}

.productConteiner {
  display: grid;
  grid-auto-rows: 500px;
  gap: 50px;
  text-align: center;
  line-height: 1.5;
  color: rgb(26, 8, 8);
  font-size: 17px;
  font-weight: bolder;
}

img {
  -webkit-box-shadow: 10px 11px 11px -4px rgba 0, 0, 0.36;
  -moz-box-shadow: 10px 11px 11px -4px rgba(0, 0, 0, 0.36);
  box-shadow: 10px 11px 11px -4px rgba(0, 0, 0, 0.36);
  border: solid black 2px;
}
